<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/weather.png">
    <title>Weather</title>
</head>

<body>
    <div class="main-content">
        <h1>{{title}}</h1>
        {{>header}}

        <p>Search weather in any location:</p>

        <form>
            <input placeholder="Location">
            <button>Submit</button>
        </form>
    </div>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>